<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.opengl">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Openglandroid">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".BasicActivity" />

        <activity android:name=".WindowActivity" />

        <activity android:name=".TriangleActivity" />

        <activity android:name=".CameraActivity">

        </activity>

        <activity android:name=".CameraCircleActivity" />

        <activity
            android:name=".CameraPositionActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".CameraViewActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".CameraFovActivity"
            android:screenOrientation="sensorLandscape" />
        <activity android:name=".LightingActivity">
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->

            <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            <!--            </intent-filter>-->
        </activity>
        <activity
            android:name=".LightSampleActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".BasicLightingDiffuseActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".BasicLightingSpecularActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".MaterialsActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".LightingMapsDiffuseActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".LightingMapsSpecularActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".LightCastersDirectionalActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".LightCastersPointActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".LightCastersSpotActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".LightCastersSpotSoftActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".MultipleLightsActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".ModelLoadingActivity"
            android:screenOrientation="sensorLandscape" />
    </application>

</manifest>